body {
	background: lightblue;

	color: white;
	font-family: segoe UI;
	font-size: 20px;
}

h1, p, a {
	font-size: 1.5em;
}

a {
	color: white;
	transition: color 300ms ease-in;
}

a:hover {
	color: #6a0979;
}


img {
	max-width: 100%;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

.link {
	list-style: none;
}

label{
	color: grey;
	font-size: 18px;
	font-family: sans-serif;	
}

button {
	border: 4px solid gold;
	border-radius: 5px;
	padding: 6px;
	background-color: grey;
	color: gold;
	font-size: 18px;
	cursor: pointer;
}

button:hover{
	background-color: gold;
	color: grey;

}

button:active {
	background-color: grey;
	border-color: gold;
	color: gold;
}